.stats {
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;

  & * {
    text-align: left;
    margin-left: 0;
    white-space: nowrap;
  }
  &__component {
    display: inline-block;
    width: 12em;
    margin-bottom: 2.4rem;
    padding: 0.4rem;
    display: inline-block;
  }
}
